// ======================================================
// Abstracts :: Variables
// ======================================================

// Colors
$white: #fff;
$black: #000;
$black_01: #383a39;
$black_02: #00000029;
$black_03: #535755;
$black_04: #333;
$black_05: #242625;
$black_06: #191919;
$black_08: #777;
$primary: #1f9ac9;
$gray: #555;
$gray_01: #ccc;
$gray_02: #f1f1f1;
$gray_03: #ddd;
$gray_04: #c5c8c6;
$gray_05: #bbb;
$gray_06: #b7bab8;
$gray_07: #e2e3e3;
$gray_08: #f4f6f7;
$gray_09: #9a9e9c;
$gray_10: #f4f4f4;
$gray_11: #afafaf;
$gray_12: #eee;
$gray_13: #c3c4c4;
$gray_14: #c4c4c4;
$red: #f44336;
$red_01: #ea4f43;
$green: #00443f;
$green_01: #1fab9f;
$orange: #fc8c28;
$orange_01: #ff8c00;
$blue: #021f28;
$blue_01: #125d79;
$blue_02: #009ac9;
$blue_03: #e6f5fa;

// Paths
$path_to_images: '../assets/icons';

// Borders
$border_radius_base: 2px;
$border_radius_small: 4px;
$border_radius_medium: 6px;
$border_radius_large: 8px;

// Fonts
$font-family-base: 'Hiragino Sans', 'Noto Sans Japanese', 'YuGothic', 'Meiryo', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'メイリオ', 'MS ゴシック', 'sans-serif';

$font_size_smallest: 12px;
$font_size_small: 14px;
$font_size_base: 16px;
$font_size_medium: 18px;
$font_size_large: 20px;

$font_weight_light: 300;
$font_weight_base: 400;
$font_weight_medium: 500;
$font_weight_bold: 700;

// Typography
$line_height_base: 1;

// Z-index
$z_indexes: (
  base    : 1,
  under   : -1,
  sidebar : 1000,
  dropdown: 100,
  header: 1001,
);

// Grid breakpoints
$grid_breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
