//
// Base :: Reset
// --------------------------------------------------

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  color: black;

  &,
  &:focus,
  &:hover {
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }
}

button {
  &,
  &.button {
    &:focus {
      outline: 0 none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

button::-moz-focus-inner {
  border: 0;
}

input[type='checkbox']:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 400;
}

:focus {
  outline: none;
}

* {
  margin: 0;
  padding: 0;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  line-height: 1;
  background-color: white;
  overflow-x: hidden;
}

input {
  &:focus {
    outline: none;
  }

  &[type='number'] {
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

textarea {
  &:focus {
    outline: none;
  }
}

table {
  width: 100%;
}
