// ======================================================
// Components :: Forms
// ======================================================
$el-input: ".el-input";
$el-radio: ".el-radio";

.el-form {
  #{$el-input} {
    input {
      @apply border-transparent h-10 rounded-sm bg-gray-200;

      &::placeholder {
        @apply text-gray-500;
      }
    }
  }

  .el-button {
    @apply h-10 py-0 rounded-sm text-center duration-300;

    &.btn {
      &--outline {
        &-black {
          @apply bg-black text-white border-black;

          &:hover {
            @apply opacity-75;
          }
        }
      }
    }
  }
}

#{$el-input} {
  &-number {
    span[role="button"] {
      height: calc(100% - 2px);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

#{$el-radio} {
  &-button {
    $this: &;

    &__inner {
      @apply border border-solid rounded-sm border-gray-300 mb-2 #{!important};
    }

    &__orig-radio {
      &:checked {
        & + #{$this}__inner {
          @apply shadow-none;
        }
      }
    }
  }
}
