// ======================================================
// Components :: Flexbox for grid
// ======================================================

.mt-grid {
  display: flex;
  flex-wrap: wrap;

  &__item-full {
    flex: 1;
  }

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--align-center {
    align-items: center;
  }

  &--align-start {
    align-items: flex-start;
  }

  &--align-end {
    align-items: flex-end;
  }

  &--justify-between {
    justify-content: space-between;
  }

  &--justify-center {
    justify-content: center;
  }

  &--flex-column {
    flex-direction: column;
  }
}
